.mypagetotal {
  height: 100%;
  width: 95%;
  display: flex;
  /*   justify-content: center;
  align-items: center; */
  margin: 0 auto;
}

.mypagenav {
  /*   background-color: rgb(220, 220, 220); */
  height: 100vh;
  width: 20%;
}

.mypagecontent {
  padding-top: 50px;
  /* background-color: beige; */
  height: 100%;
  width: 80%;
}
.mybbspage {
  height: 100vh;
}
.mybbspageTop {
  height: 5%;
  /*  background-color: aqua; */
}
.mybbspageBottom {
  height: 95%;
  /*   background-color: rgb(149, 255, 0); */
}
.mypartypage {
  height: 100vh;
}
.mypartypageTop {
  height: 5%;
  /*   background-color: aqua; */
}
.mypartypageBottom {
  height: 95%;
  /*   background-color: rgb(149, 255, 0); */
}
