@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --modal-duration: 1s;
  --primary-color: #86c8bc;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  transition: transform 0.3s ease;
}

body.show-nav {
  /* Width of nav */
  transform: translateX(200px);
}

#navbar {
  background-color: rgb(94, 152, 209);
  color: #220505;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);
  position: fixed;
  border-radius: 15px;

  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

#navlist ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar li {
  margin: 0 10px;
}

#navbar a {
  display: flex;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #dddddd62;
  color: black;
}
#nav-menu li a.active,
#nav-menu li a:hover {
  color: rgb(255, 255, 255); /* 호버시 적용될 스타일 */
}
.togglecontent {
  position: fixed; /* togglecontent가 부모 요소에 상대적인 위치를 가지도록 만들어줌 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 20px;
  height: 100vh;
}
button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  /*  color: #fff; */
  cursor: pointer;
}

button:focus {
  outline: none;
}

.toggle {
  padding-top: 10px;
  position: absolute;

  left: 20px;
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
