.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%; /* 화면의 높이만큼 최소한의 높이를 설정 */
  background-color: #f9f9f9;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, #88d4e3, #f9f9f9);
  /* border-radius: 20px; */
  text-align: center;
  margin-bottom: 0;
}

.appNav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
  background-color: #f9f9f9;
  width: 100%;
  height: 90px;
  top: 100px; /* 헤더의 높이만큼 띄워주기 */
  border-radius: 20px;
}

.appNav a {
  display: inline-block;
  margin-right: 20px;
  color: black;
  font-size: 1.4em;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}
.appNav a:hover {
  font-weight: bold;
}
main {
  flex: 1;
  width: 100%;
  height: calc(100vh-200px);

  padding-top: 100px; /* 헤더와 네비바의 높이만큼 padding 설정 /*/
  margin-bottom: 200px;
  /*   background-color: #f9f9f9; */
}

footer {
  /*   position: fixed; */
  bottom: 0;
  width: 100%;
  height: 50px; /* 푸터의 높이를 50px로 고정 */
  background-color: #e9e9e5;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.mainmenu {
  position: relative;
  /* display: inline-block; */
  height: 70px;
  /* width: 100%; */
  margin-top: 35px;
}
.mainmenu:hover .submenu,
.submenu:hover .submenu {
  display: flex;
  justify-content: center;
  /* font-style: italic; */
}

.submenu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  /* width: 1200px; */
  /* height: 200px; */
  /* padding: 10px; */
  z-index: 1;
  /* background-color: cornflowerblue; */
  /* display: flex; */
  font-size: 14px;
}
.submenu li:first-child {
  width: 100px;
}
.submenu li {
  /* display: block; */
  text-align: center;
  float: left;
  width: 100px;
  margin-right: 10px;
}
.submenu li a {
  margin: 0;
}
.mainmiddle5 {
  /*  background-color: rgb(166, 145, 110); */
  height: 350px;
  width: 1600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
